body{
	overflow-x:hidden;
}

h1{
  color: red;
  font-style: italic;
  margin-left:3.5rem;
}

.container{
	
	margin-left: 15rem;
	margin-top: 15rem;
}

form{
	align-items: center;
	justify-content:center;
}

.input{
	margin-top:1.5rem;
	margin-left:2rem;
	border-radius: 2px;
}

.submit{
	margin-top:1.5rem;
	margin-left: 7rem;
}

.btn-group{
	margin-top: 1.5rem;
	margin-left: 6.5rem;
}

.custom-label{
	background-color: #D3D3D3;
	color: red;
	border: 1px solid #000;   
	padding: 3px;
}



